<style type="text/css">
	.shelf__top {
		padding: 10px 20px 0;
	}
	.shelf__top .shelf-search {
		margin-right: 46px;
	}
	.shelf-search {
		font-size: 12px;
		color:#ccc;
		border:1px solid #eee;
		border-radius: 4px;
		line-height: 36px;
		background:url(http://image.read.duokan.com/mfsv2/download/fdsc3/p01dSYLeWtSR/tY73MgTfVw7UAS.png) no-repeat 10px center;
		background-size: 14px;
		padding-left: 32px;
	}
	.shelf__switch {
		width: 36px;
		height: 36px;
		float: right;
		border-radius: 4px;
		background:url(http://image.read.duokan.com/mfsv2/download/fdsc3/p01yLF3fEj8l/b7UfAdlfufQKML.png) no-repeat center;
		background-size: 16px;
		border:1px solid #eee;
	}

.shelf .book-list .u-book{
	padding:13px 20px;
	width: auto; 
}
.u-book .book-cover {
	float: left;
	margin-right: 10px;
}
.u-book .info {
	padding-top: 1.2em;
}

</style>
<div class="shelf">
	<div class="shelf__top">
		<div class="shelf__switch"></div>
		<a href="/search">
			<div class="shelf-search">输入书名/作者/关键字</div>
		</a>
	</div>
	<ul class="book-list">
		<li>
			<div class="u-book">
			<a href="/book?id=10234">
				
					<div class="book-cover">
						<img alt="兵王之王" src="/static/img/cover/bingwangZhiwang.jpg">
					</div>
				
				<div class="info">
					<h3 class="title">兵王之王</h3>
					<p class="author">
						<span class="author">Bill</span>
					</p>
					<div class="wrap">
						<p>中国相关</p>
					</div>
				</div>
			</a>
			</div>	
		</li>
		<li>
			<div class="u-book">
			<a href="/book?id=321145">
				
					<div class="book-cover">
						<img alt="渣王作妃" src="http://cover.read.duokan.com/mfsv2/download/fdsc3/p017io4EIZgP/tK1TkKVduNMK7w.jpg">
					</div>
				
				<div class="info">
					<h3 class="title">渣王作妃</h3>
					<p class="author">
						<span class="author">浅浅的心</span>
					</p>
					<div class="wrap">
						<p>最新: 我有心上人了</p>
					</div>
				</div>
			</a>
			</div>
		</li>
		<li>
			<div class="u-book">
			<a href="/book?id=319133">
				
					<div class="book-cover">
						<img alt="爆笑兵痞" src="http://cover.read.duokan.com/mfsv2/download/fdsc3/p01xBFG2D56q/Py0CDUjcBypXwm.jpg">
					</div>
				
				<div class="info">
					<h3 class="title">爆笑兵痞</h3>
					<p class="author">
						<span class="author">寒雪独立人</span>
					</p>
					<div class="wrap">
						<p>最新: 第5章：大姐，别玩我好吗？</p>
					</div>
				</div>
			</a>
			</div>
		</li>
	</ul>
</div>







